<%= if String.length(care) == 0 && String.length(dont_care) == 0 do %>
Team didn't send any reports yet.
<% end %>
<%= if String.length(care) > 0 do %>
_Who sent_: <%= care %><% end %>
<%= if String.length(dont_care) > 0 do %>
_Who didn't send_: <%= dont_care %><% end %>
